<%= render :partial => 'survey_info', locals: {survey: @survey} %>


<div class="row form-section">
  <div class="col-xs-12">
    <h3>Add Multiple Choice Question</h3>
    <p><span id="select-options">1. Select Options</span> | <span id="add-text">2. Add Question Text</span></p>

    <%= form_tag(new_survey_question_path(@survey.id), method: :get) do %>
      <%= label_tag :option_count, "How many options should the question have?" %>
      <%= number_field_tag :option_count, 4, in: 1..6 %><br/>

      <%= label_tag :answer_count, "How many options can be selected?" %><br/>
      <%= radio_button_tag :answer_count, "single" %>Just One<br/>
      <%= radio_button_tag :answer_count, "multiple" %>Multiple<br/>

      <%= label_tag :required, "Is the question required?" %><br/>
      <%= radio_button_tag :required, true %>Yes<br/>
      <%= radio_button_tag :required, false %>No


      <br/><%= submit_tag "Continue to the next step" %>
    <% end %>
  </div>

</div>