<div class="row">
  <div class="col-xs-12">
    <h1><%= @survey.title %></h1>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <p><%= @survey.description %></p>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <h5><%= link_to "Add Question", set_up_survey_questions_path(@survey) %></h5>
  </div>
</div>

<div class="row">
  
    <% @survey.questions.each.with_index(1) do |question, index| %>
      
    
      
      <table class="table table-bordered table-striped col-xs-12">
        <h4 class="text-primary"><%= "#{index}. #{question.query}" %></h4>
        <tr>
          <th>Response</th>
          <th>Count</th>
        </tr>
        <% question.options.each do |option| %>
        <tr>
          <td><%= option.text %></td>
          <td><%= option.answers.size %></td>
        </tr>
        <% end %>
      </table>

    <% end %><!-- end question iteration -->

  
</div>




