<% if flash[:success] %>
  <div class="row">
    <div class="col-xs-12 alert alert-success">
      <%= flash[:success] %>
    </div>
  </div>
<% elsif flash[:error] %>
  <div class="row">
    <div class="col-xs-12 alert alert-danger">
      <%= flash[:error] %>
    </div>
  </div>
<% end %>


<div class="row">
  <div class="col-xs-12">
    <h1><%= @survey.title %></h1>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <h2><%= @survey.description %></h2>
  </div>
</div>

<div id="survey">
  <h1>Questions:</h1>
  <%= form_tag(answers_path, method: :post) do %>
    <% @survey.questions.each.with_index(1) do |question, index| %>
      <% name = "question_#{index}".to_sym %>
      <h4><%= label_tag name, question.query %></h4><br/>
      <%= hidden_field_tag "#{name}_id", question.id %>
      <% question.options.each do |option| %>
        <%= radio_button_tag name, option.id %><%= option.text %><br/>
      <% end %>
    <% end %>
    
    <%= hidden_field_tag :question_count, @survey.questions.count %>
    
    <%= submit_tag "Submit", class: "btn btn-primary col-xs-6" %>

  <% end %>
</div>




